html {
}


body {
    background-color: #000000 !important;
    margin: 0px;
}


#top {
    height: 50%;
    width: 100%;
    display: flex;
}


#middle {
    height: 30%;
    width: 100%:
}

#bottom {
    height: 20%;
    width: 100%;
    display: flex;
    /*-webkit-column-count: 5;*/
}


#clock {
    font-size: 100px;
    text-align: right;
    flex-grow: 3;
}


#quote {
    flex-grow: 2;
}


#calendar {
    flex-grow: 6;
}

.weather-images{
    width:100%;
    height:50%;
    -webkit-filter: invert(1);
    filter: invert(1);
}


.weather-box {
    height:100%;
    flex-grow: 1;
}


.temp {
    height: 30%;
    font-size: 25pt;
    text-align: center;
    padding-top: 15%;
}


.precip-wind {
    height: 20%;
    font-size: 20pt;
    text-align: center;
    vertical-align: middle;
}
